$font-stack: 'Sen', sans-serif;

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login, .signup {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 480px;
    min-height: 475px;
    border-radius: 6px;
    text-align: center;
    animation: fade 500ms ease-in-out 0s 1;
}

.header {
    font-size: 2em;
    color: #333;
    font-weight: 700;
    font-family: $font-stack;
    margin-bottom: 3em;
}

.login-input, .signup-input {
    padding: 1.25em;
    width: 75%;
    color: gray;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    font-family: $font-stack;
    letter-spacing: 1px;
}

.login-input:focus, .signup-input:focus {
    outline: none;
}

$submit-btn-color: #38A3D9;

.submit-login, .submit-signup {
    margin-top: 4em;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    background-color: whitesmoke;
    display: inline-block;
    border: #5491c4 solid;
    color: #5491c4;
    font-size: 18px;
    border-width: .5mm;
    min-height: 50px;
    min-width: 150px;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
}
.errors {
    color: crimson;
    font-size: 13px;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.errors p {
    margin: 0px;
    border: 2px solid $submit-btn-color;
    color: $submit-btn-color;
    font-size: 1.25em;
    height: 45px;
    width: 125px;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.submit-login:hover, .submit-signup:hover {
    background-color: $submit-btn-color;
    color: #fff;
}
