.show-page {
    display: flexbox;
    text-align: center;
    font-family: sans-serif;
    padding-top: 120px;
    background-color: rgb(245, 245, 245);
    
}
.show-summary {
    display: flexbox;
    font-size: 24px;
}
.rating-average {
    display: inline-block;
    text-align: left;
}
.main-score {
    display: inline-block;
    padding: 5px;
}
.show-body {
    display: flexbox;
    text-align: center;
    margin-left: 27%;
    width: 50%;
}
.show-body-child {
    display: inline;
}
.show-review-item {
    display: inline-block;
    margin: 20px;
    border-bottom: lightgrey solid;
    padding-bottom: 20px;
}
.review-btn {
    color: rgb(226, 86, 51);
    font-size: 16px;
    padding: 7px;
    border: rgb(226, 86, 51) solid;
    border-width: .5mm;
    min-height: 32px;
    min-width: 90px;
    border-radius: 3px;;
    margin: 10px;
}
.optional-reviews {
    display: flexbox;
}
.op-reviews {
    transform: scale(0.8, 0.8);
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    padding: 5px;
}
