.show-page {
    display: flexbox;
    text-align: center;
    font-family: sans-serif;
    // background-color: rgb(245, 245, 245);
    margin: 15px;
    background-color: cadetblue;
}
.show-summary {
    display: inline;
    font-size: 24px;
}
.show-body {
    display: inline;
}
.show-review-item {
    display: inline-block;
    margin: 20px;
    border-bottom: lightgrey solid;
    padding-bottom: 20px;
}
.review-btn {
    color: rgb(226, 86, 51);
    font-size: 16px;
    padding: 7px;
    border: rgb(226, 86, 51) solid;
    border-width: .5mm;
    min-height: 32px;
    min-width: 90px;
    border-radius: 3px;;
    margin: 10px;

}
.rating-item {
    display: flexbox;
    text-align: center;
}
.main-rating {
    display: inline-block;
    border: red solid;
    border-width: 5px;
    width: 60%;

}
