.airport-results {
    color: #333;
    font-size: 30px;
    display: flexbox;
    text-align: center;
}
.results-header {
    display: inline-block;
    color: #333;
    font-size: 30px;
}
.airport-item {
    display: inline-block;
    border: #333 solid;
    margin: 20px;
    width: 60%;
    text-align: left;
}

.airport-item-attr {
    margin-left: 15px;
    font-size: 16px;
    padding: 5px;
}