.navbar {
  position: fixed;
  z-index: 9000;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
}

.navbar.light {
  color: #fff;
}

.navbar-dark {
  color: #333;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-list > li {
  margin-right: 8px;
  letter-spacing: 1px;
  padding: 16px;
  font-family: 'Sen', sans-serif;
  font-weight: normal;
}

.navbar-list > li:last-child {
  margin-right: 0;
}

.navlink {
  cursor: pointer;
}

.navbar-list .search-bar {
  font-size: 0.9em;
  min-width: 250px;
}
