.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}

.navbar.light {
  color: #fff;
  position: fixed;
  height: 108px;
  z-index: 9000;
}

.navbar.dark {
  color: #333;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-title {
  font-family: 'Sen', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

.navbar-title > a {
  color: inherit;
  text-decoration: none;
}

.navbar-list > li, .navbar-list > li > a {
  margin-right: 8px;
  letter-spacing: 1px;
  padding: 16px;
  font-family: 'Sen', sans-serif;
  font-weight: normal;
}

.link {
  color: inherit;
  text-decoration: none;
}

.navbar-list > li:last-child {
  margin-right: 0;
}

.navlink {
  cursor: pointer;
}

.navlink.username {
  cursor: auto;
}

.navbar-list .search-bar {
  font-size: 0.9em;
  min-width: 250px;
}

.navbar-title {
  justify-self: center;
}

.navlink.github-link {
  color: #0197D8;
  margin-right: 0;
  font-size: 1.5rem;
  transition: all 250ms ease-in-out;
}

.navbar.light .navlink.github-link {
  color: #fff;
}

.github-link.navlink > a {
  color: inherit;
  margin-right: 0;
}

.github-link:hover {
  transform: scale(1.2);
}
