.search-bar:placeholder-shown ~ .search-results {
  opacity: 0;
  max-height: 0;
}

.search-results {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  border-radius: 12px;
  left: 0;
  opacity: 1;
  max-height: 300px;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color: #fff;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.result-item-link {
  text-decoration: none;
}

.result-item-link:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.result-item-link:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.result-item {
  font-family: 'Sen', sans-serif;
  color: #333;
  padding: 16px 8px;
  margin: 0 auto;
  transition: all 100ms ease-in-out;
}

.result-item:hover {
  background-color: #ddd;
}
