.search-bar-container {
  position: relative;
}

.landing-container > .search-bar-container {
  width: 50%;
  margin-top: 325px;
}

.landing-container .search-bar {
  border-radius: 30px;
}

.search-bar {
  font-family: 'Sen', sans-serif;
  font-size: 1.125em;
  width: 100%;
  color: #333;
  outline: none;
  border: none;
  letter-spacing: 1.5px;
  padding: 0.9em 1em;
  border-radius: 30px;
}

.search-bar::placeholder {
  color: #777;
}

.search-bar-icon {
  padding: 16px;
  position: absolute;
  right: 8px;
  color: #111;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
